[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = git://github.com/

[user]
  name = Peter Griggs

[core]
  editor = nvr -cc split --remote-wait +'set bufhidden=delete'

[include]
  path = ~/.gitconfig.local
